#gameTaS {
    color: #F1F2EB;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 2em;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-image: url("assets/balloonsBG.avif");
    background-size: cover;
}

#board {
    width: 810px;
    height: 810px;
    background-color: tan;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-image: url("assets/comicZoom.avif");
    background-size: cover;
    border: 3px solid white;
    border-radius: 25px;
}

#board div {
    width: 270px;
    height: 270px;
    background-image: url("assets/singleBallonBlue.png");
    background-repeat: no-repeat; 
    background-position: center;  
    background-size: 5em; 
    /* background-color: rgb(245, 242, 242); */
}